<header id="banner" class="scrollto clearfix" data-enllax-ratio=".5">
  <div id="header" class="nav-collapse">
      <div class="row clearfix">
          <div class="col-1">

              <div id="logo">



                  <img src="../assets/images/logo-2.png" id="navigation-logo" alt="Landing Page"/>

              </div>

<app-social></app-social>

<app-navigation></app-navigation>



              <div id="nav-trigger"><span></span></div>
              <nav id="nav-mobile"></nav>

          </div>
      </div>
  </div>

  <div id="banner-content" class="row clearfix">

      <div class="col-38">

          <div class="section-heading">
              <h1>Indigo Productions</h1>
              <h2>Wish you could start a successful business with the knowledge of someone who has already done it before? Below, you’ll find help from our best business management books, our simple business plan template, business proposal template, and many other educational resources—all free to download. These learning resources will help you create a simple business idea, write a plan, get funded, make your first sale, and grow a thriving and successful business. You can do it. We can help.</h2>
          </div>

          <a href="#" class="button">START CREATING TODAY</a>

      </div>

  </div>
</header>
